<form action="/fixtures" method="GET" id="form">
<div id="main-container">

  <div id="home-team-list">

    <% for team in @teams %>

    <div id="team-buttons">

      <label class="team-buttons">
        <input type="radio" name="home_team" value="<%= team %>">
        <span id="team-names">
          <%= team %>
        </span>
      </label>
    </div>

    <% end %>
  </div>

  <div id="home-score-list">

    <% for score in @home_score %>

    <div id="team-buttons">

      <label class="team-buttons">
        <input type="radio" name="home_score" value="<%= score %>">
        <span id="home-goals">
          <%= score %>
        </span>
      </label>
    </div>

    <% end %>
  </div>

  <div id="away-score-list">

    <% for score in @away_score %>

    <div id="team-buttons">

      <label class="team-buttons">
        <input type="radio" name="away_score" value="<%= score %>">
        <span id="away-goals">
          <%= score %>
        </span>
      </label>
    </div>

    <% end %>
  </div>

  <div id="away-team-list">

    <% for team in @teams %>

    <div id="team-buttons">

      <label class="team-buttons">
        <input type="radio" name="away_team" value="<%= team %>">
        <span id="team-names">
          <%= team %>
        </span>
      </label>
    </div>

    <% end %>
  </div>
  <input type="submit" value="Search" id="submit">

</form>
</div>
